.loading-section{
  background: #30333A;
}
.loading-section ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.flex-section{
  display: flex;
  flex-wrap: wrap;
}
.flex-section .item{
  width: 25%;
  padding: 30px 20px 50px 20px;
  align-items: center;
  text-align: center;
  position: relative;
}
.flex-section .item2{
  width: 50%;
}
.flex-section .item4{
  width: 100%;
}
.flex-section .item .name{
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.flex-ct-x{
  display: flex;
}
/* -------------------- 01 -------------------- */
.strip-loading {text-align: center;}
.strip-loading li {
  display: inline-block;
  border-radius: 3px;
  width: 6px;
  height: 30px;
  background-color: #f66;
  animation: beat 1s ease-in-out infinite;
}
.strip-loading li + li {
  margin-left: 5px;
}
.strip-loading li:nth-child(2) {
  animation-delay: 200ms;
}
.strip-loading li:nth-child(3) {
  animation-delay: 400ms;
}
.strip-loading li:nth-child(4) {
  animation-delay: 600ms;
}
.strip-loading li:nth-child(5) {
  animation-delay: 800ms;
}
.strip-loading li:nth-child(6) {
  animation-delay: 1s;
}

@keyframes beat {
	0%,
	100% {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(.5);
	}
}

/* -------------------- 02 -------------------- */
.loading-02{
  width: 112px;
  height: 70px;
  *zoom: 1;
  margin: 0 auto;
}
.loading-02:before,
.loading-02:after {
  display: table;
  content: "";
}
.loading-02:after {
  clear: both;
}

.loading-02 .finger{
  float:left;
  margin:0 2px 0 0;
  width: 20px;
  height: 100%;
}
.loading-02 .finger-1{
  animation: finger-1-animation 2s ease-out infinite;
}
.loading-02 .finger-1 span{
  animation: finger-1-animation-span 2s ease-out infinite;
}
.loading-02 .finger-1 i{
  animation: finger-1-animation-i 2s ease-out infinite;
}
.loading-02 .finger-2{
  animation: finger-2-animation 2s ease-out infinite;
}
.loading-02 .finger-2 span{
  animation: finger-2-animation-span 2s ease-out infinite;
}
.loading-02 .finger-2 i{
  animation: finger-2-animation-i 2s ease-out infinite;
}
.loading-02 .finger-3{
  animation: finger-3-animation 2s ease-out infinite;
}
.loading-02 .finger-3 span{
  animation: finger-3-animation-span 2s ease-out infinite;
}
.loading-02 .finger-3 i{
  animation: finger-3-animation-i 2s ease-out infinite;
}
.loading-02 .finger-4{
  animation: finger-4-animation 2s ease-out infinite;
}
.loading-02 .finger-4 span{
  animation: finger-4-animation-span 2s ease-out infinite;
}
.loading-02 .finger-4 i{
  animation: finger-4-animation-i 2s ease-out infinite;
}
.loading-02 .finger-item{
  position:relative;
  width: 100%;
  height: 100%;
  border-radius:6px 6px 8px 8px;
  background:#f66;
}
.loading-02 .finger-item span{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height: auto;
  padding:5px 5px 0 5px;
}
.loading-02 .finger-item span:before,
.loading-02 .finger-item span:after{
  content:'';
  position:relative;
  display:block;
  margin:0 0 2px 0;
  width: 100%;
  height: 2px;
  background:#30333A;
}
.loading-02 .finger-item i{
  position:absolute;
  left:3px;
  bottom:3px;
  width: 14px;
  height: 14px;
  border-radius:10px 10px 7px 7px;
  background:#30333A;
}
.loading-02 .last-finger{
  position:relative;
  float:left;
  width: 24px;
  height: 100%;
  overflow:hidden;
}
.loading-02 .last-finger-item{
  position:absolute;
  right:0;
  top:32px;
  width: 110%;
  height: 20px;
  border-radius:0 5px 14px 0;
  background:#f66;
  animation: finger-5-animation 2s ease-out infinite;

  
}
.loading-02 .last-finger-item i{
  position:absolute;
  left:0;
  top:-8px;
  width: 22px;
  height: 8px;
  background:#f66;
  overflow:hidden;
}
.loading-02 .last-finger-item i:after{
  content:'';
  position:absolute;
  left:0;
  bottom:0;
  width: 34px;
  height: 20px;
  border-radius:0 0 15px 15px;
  background:#30333A;
}

@keyframes finger-1-animation {
  0%   {padding:12px 0 5px 0;}
  20%  {padding:12px 0 5px 0;}
  29%  {padding:4px 0 24px 0;}
  35%  {padding:4px 0 24px 0;}
  41%  {padding:12px 0 5px 0;}
  100% {padding:12px 0 5px 0;}
}
@keyframes finger-1-animation-span {
  0%   {top:0;}
  20%  {top:0;}
  29%  {top:-7px;}
  35%  {top:-7px;}
  41%  {top:0;}
  100% {top:0;}
}
@keyframes finger-1-animation-i {
  0%   {bottom:3px;height:14px;border-radius:10px 10px 7px 7px;}
  20%  {bottom:3px;height:14px;border-radius:10px 10px 7px 7px;}
  29%  {bottom:8px;height:12px;border-radius:7px 7px 4px 4px;}
  35%  {bottom:8px;height:12px;border-radius:7px 7px 4px 4px;}
  41%  {bottom:3px;height:14px;border-radius:10px 10px 7px 7px;}
  100% {bottom:3px;height:14px;border-radius:10px 10px 7px 7px;}
}

@keyframes finger-2-animation {
  0%   {padding:6px 0 2px 0;}
  24%  {padding:6px 0 2px 0;}
  33%  {padding:2px 0 16px 0;}
  39%  {padding:2px 0 16px 0;}
  45%  {padding:6px 0 2px 0;}
  100% {padding:6px 0 2px 0;}
}
@keyframes finger-2-animation-span {
  0%   {top:0;}
  24%  {top:0;}
  33%  {top:-7px;}
  39%  {top:-7px;}
  45%  {top:0;}
  100% {top:0;}
}
@keyframes finger-2-animation-i {
  0%   {bottom:3px;height:14px;border-radius:10px 10px 7px 7px;}
  24%  {bottom:3px;height:14px;border-radius:10px 10px 7px 7px;}
  33%  {bottom:8px;height:12px;border-radius:7px 7px 4px 4px;}
  39%  {bottom:8px;height:12px;border-radius:7px 7px 4px 4px;}
  45%  {bottom:3px;height:14px;border-radius:10px 10px 7px 7px;}
  100% {bottom:3px;height:14px;border-radius:10px 10px 7px 7px;}
}

@keyframes finger-3-animation {
  0%   {padding:0 0 0 0;}
  28%  {padding:0 0 0 0;}
  37%  {padding:0 0 12px 0;}
  43%  {padding:0 0 12px 0;}
  49%  {padding:0 0 0 0;}
  100% {padding:0 0 0 0;}
}
@keyframes finger-3-animation-span {
  0%   {top:0;}
  28%  {top:0;}
  37%  {top:-7px;}
  43%  {top:-7px;}
  49%  {top:0;}
  100% {top:0;}
}
@keyframes finger-3-animation-i {
  0%   {bottom:3px;height:14px;border-radius:10px 10px 7px 7px;}
  28%  {bottom:3px;height:14px;border-radius:10px 10px 7px 7px;}
  37%  {bottom:8px;height:12px;border-radius:7px 7px 4px 4px;}
  43%  {bottom:8px;height:12px;border-radius:7px 7px 4px 4px;}
  49%  {bottom:3px;height:14px;border-radius:10px 10px 7px 7px;}
  100% {bottom:3px;height:14px;border-radius:10px 10px 7px 7px;}
}

@keyframes finger-4-animation {
  0%   {padding:8px 0 3px 0;}
  32%  {padding:8px 0 3px 0;}
  41%  {padding:4px 0 20px 0;}
  47%  {padding:4px 0 20px 0;}
  53%  {padding:8px 0 3px 0;}
  100% {padding:8px 0 3px 0;}
}
@keyframes finger-4-animation-span {
  0%   {top:0;}
  32%  {top:0;}
  41%  {top:-7px;}
  47%  {top:-7px;}
  53%  {top:0;}
  100% {top:0;}
}
@keyframes finger-4-animation-i {
  0%   {bottom:3px;height:14px;border-radius:10px 10px 7px 7px;}
  32%  {bottom:3px;height:14px;border-radius:10px 10px 7px 7px;}
  41%  {bottom:8px;height:12px;border-radius:7px 7px 4px 4px;}
  47%  {bottom:8px;height:12px;border-radius:7px 7px 4px 4px;}
  53%  {bottom:3px;height:14px;border-radius:10px 10px 7px 7px;}
  100% {bottom:3px;height:14px;border-radius:10px 10px 7px 7px;}
}

@keyframes finger-5-animation {
  0%   {top:32px;right:0;border-radius:0 5px 14px 0;transform:rotate(0deg);}
  34%  {top:32px;right:0;border-radius:0 5px 14px 0;transform:rotate(0deg);}
  43%  {top:20px;right:2px;border-radius:0 8px 20px 0;transform:rotate(-12deg);}
  50%  {top:20px;right:2px;border-radius:0 8px 20px 0;transform:rotate(-12deg);}
  60%  {top:32px;right:0;border-radius:0 5px 14px 0;transform:rotate(0deg);}
  100% {top:32px;right:0;border-radius:0 5px 14px 0;transform:rotate(0deg);}
}
/* -------------------- 03 -------------------- */
.loading-03{
  display: inline-block;
  width: 150px;
  height: 4px;
  border-radius: 2px;
  margin: 0 auto;
  position: relative;
  background: #f66;
  animation: changeBgColor 1.04s ease-in infinite alternate;
  text-align: left;
}
.loading-03 span{
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #f66;
  position: absolute;
  margin-top: -7px;
  margin-left:-8px;
  animation: changePosition 1.04s ease-in infinite alternate;
}

@keyframes changeBgColor{
  0%{
      background: #f66;
  }
  100%{
      background: rgba(255,102,102, .3);
  }
}
@keyframes changePosition{
  0%{
      background: #f66;
  }
  100%{
      margin-left: 142px;
      background: rgba(255,102,102, .3);
  }
}
/* -------------------- 04 -------------------- */
.loading-04{
  width: 150px;
  height: 15px;
  margin: 0 auto;
}
.loading-04 span{
  display: inline-block;
  width: 15px;
  height: 100%;
  margin-right: 5px;
  border-radius: 50%;
  background: #f66;
  -webkit-animation: load 1.04s ease infinite;
}
.loading-04 span:last-child{
  margin-right: 0px; 
}
@-webkit-keyframes load{
  0%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}
.loading-04 span:nth-child(1){
  -webkit-animation-delay:0.13s;
}
.loading-04 span:nth-child(2){
  -webkit-animation-delay:0.26s;
}
.loading-04 span:nth-child(3){
  -webkit-animation-delay:0.39s;
}
.loading-04 span:nth-child(4){
  -webkit-animation-delay:0.52s;
}
.loading-04 span:nth-child(5){
  -webkit-animation-delay:0.65s;
}

/* -------------------- 05 -------------------- */
.loading-05{
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}
.loading-05 span{
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #f66;
  position: absolute;
  -webkit-animation: load 1.04s ease infinite;
}
@-webkit-keyframes load{
  0%{
      opacity: 1;
  }
  100%{
      opacity: 0.2;
  }
}
.loading-05 span:nth-child(1){
  left: 0;
  top: 50%;
  margin-top:-8px;
  -webkit-animation-delay:0.13s;
}
.loading-05 span:nth-child(2){
  left: 14px;
  top: 14px;
  -webkit-animation-delay:0.26s;
}
.loading-05 span:nth-child(3){
  left: 50%;
  top: 0;
  margin-left: -8px;
  -webkit-animation-delay:0.39s;
}
.loading-05 span:nth-child(4){
  top: 14px;
  right:14px;
  -webkit-animation-delay:0.52s;
}
.loading-05 span:nth-child(5){
  right: 0;
  top: 50%;
  margin-top:-8px;
  -webkit-animation-delay:0.65s;
}
.loading-05 span:nth-child(6){
  right: 14px;
  bottom:14px;
  -webkit-animation-delay:0.78s;
}
.loading-05 span:nth-child(7){
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  -webkit-animation-delay:0.91s;
}
.loading-05 span:nth-child(8){
  bottom: 14px;
  left: 14px;
  -webkit-animation-delay:1.04s;
}