@import 'iconfont/iconfont.css';

.gt-container .gt-btn{
    background-color: #1E90FF;
}
.gt-container .gt-header-controls-tip,.gt-container a:hover,.gt-container a,.gt-container .gt-comment-username{
    color: #1E90FF;
}
.gt-container .gt-svg svg{
    fill: #1E90FF;
}
.gt-container .gt-link{
    border-bottom: #1E90FF;
}
.gt-container .gt-popup .gt-action.is--active:before{
    background-color: #1E90FF;
}

.sidebar .sidebar-nav li{
    position: relative;
}
.sidebar .sidebar-nav li span{
    display: inline-block;
    color: #1E90FF;
    position: absolute;
    top:-2px;
    left: -24px;
    padding: 0;
    font-size: 18px;
    vertical-align: top;
}

.sidebar .sidebar-nav li span::before,.iconS::before{
    font-family:"iconfont" !important;
    font-size:20px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e612";
    font-weight: normal;
}

.sidebar .sidebar-nav li span.new{
    left: inherit;
    right: 0;
    top:0;
}
.sidebar .sidebar-nav li span.new::before{
    content: "\e673";
    font-size: 32px;
}

.iconS::before{
    display: inline-block;
    content: "\e70a";
    font-size: 30px;
    color: #1E90FF;
}
.sidebar ul li a .iconS::before{
    font-size: 14px;
}

.markdown-section{max-width: 1000px;}
.vuep{flex-direction: column;height: inherit;}
.vuep-editor, .vuep-preview, .vuep-error{width: 100%;}
.vuep-preview{background-color: #fff;}
.vuep-preview, .vuep-error{padding: 0;}

.main-center{text-align: center;}

@keyframes cicleAnitation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes cicleAnitation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

/* 跳动的幽灵 */
@keyframes antion {
    0%{
        margin-top: 60px;
    }
    50%{
        margin-top: 10px;
    }
    100%{
        margin-top: 60px;
    }
  }
  @keyframes antionBg {
    0%{
        margin-top: 10px;
        background-color: rgba(0, 0, 0, 0.3);
        transform: scale(1.1);
    }
    50%{
        margin-top: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        transform: scale(1);
    }
    100%{
        margin-top: 10px;
        background-color: rgba(0, 0, 0, 0.3);
        transform: scale(1.1);
    }
  }